@import '../variables.scss';
@import '../reset.scss';

body {
   font-size: 1.5rem;
}

.text {
   max-width: 55rem;
   margin: .5rem auto;
   background-color: var(--blue-medium);
   color: var(--white);
}