@import '../variables.scss';
@import '../reset.scss';

body {
   font-size: 1.7rem;
   margin: 1rem;
}

.container {
   display: flex;
   align-items: flex-start;
   background-color: var(--blue-light);

   &__list {
      background-color: var(--brown-light);
      width: 20rem;
      padding: 2rem 0 2rem 4rem;
      text-transform: capitalize;
   }

   &__text {
      flex: 1;
      background-color: var(--gray-dark);
   }
}

.footer {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   height: 5rem;
   background-color: var(--green-light);
}