@import '../variables.scss';
@import '../reset.scss';

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1.6rem;
}

.text {
   color: var(--white);
   width: 33.3%;

   &--green {
      background-color: var(--green-medium);
      margin: 2rem 0;
   }

   &--blue {
      box-sizing: content-box;
      background-color: var(--blue-medium);
      padding: 5rem;
   }
}