@import '../variables.scss';
@import '../reset.scss';

body {
   font-size: 1.6rem;
   margin: 1rem;
}

.container {
   display: flex;
   justify-content: space-between;
   background-color: var(--blue-light);
   border: .1rem solid black;

   &__image {
      height: 25rem;
   }
}