@import '../variables.scss';
@import '../reset.scss';

body {
   margin: 1rem;
   font-size: 1.6rem;
}

@mixin responsive {
   @media (max-width: 600px) { @content }
}

.container {
   display: flex;
   align-items: flex-start;
   background-color: var(--blue-light);
   border: .1rem solid var(--green-medium);

   @include responsive() {
      flex-direction: column;
   }

   &__list {
      width: 30%;
      background-color: var(--brown-light);
      padding: 2rem 0 2rem 4rem;
      text-transform: capitalize;

      @include responsive() {
         display: flex;
         list-style: none;
         width: 100%;
         padding: 0 4rem;
         margin: 1.5rem 0;
      }
   }

   @include responsive() {
      &__item:not(:last-child) {
         margin-right: .5rem;
      }
   }

   &__text {
      flex: 1;
      background-color: var(--gray-dark);
   }
}