@import '../variables.scss';
@import '../reset.scss';

body {
   margin: 1rem;
   font-size: 1.6rem;
}

.container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 18rem);
   grid-auto-rows: 8rem;
   gap: 3rem;
   margin-bottom: 2rem;

   &__box {
      background-color: var(--blue-lighter);
   }
}

.text {
   background-color: var(--brown-light);
}